.wave_tab {
    -fx-background-color: #8fbc8f;
    -fx-hgap: 30;
    -fx-vgap: 2;
    -fx-padding: 7;
}

.wave_grid {
    -fx-background-color: #8fbc8f;
    -fx-hgap: 30;
    -fx-vgap: 5;
    -fx-padding: 10;
}

.wave_list .list-cell {
	-fx-font-family: "Helvetica";
    -fx-font-size: 28px;
}

.wave_list .list-cell:odd { 
	-fx-text-fill: black;
	-fx-background-color: white;
}

.wave_list .list-cell:even {
	-fx-text-fill: black;
	-fx-background-color: #D3D3D3; 
}

.wave_list .list-cell:filled:hover { 
    -fx-background-color: #009933;
}

.wave_list .list-cell:filled:selected { 
    -fx-background-color:  #e6ffe6; 
}

.cond_list .list-cell {
	-fx-font-family: "Zapf-Chancery";
    -fx-font-size: 20px;
}

.cond_list .list-cell:empty {
	-fx-background-color: white;
}

.cond_list .list-cell:odd { 
	-fx-text-fill: #4d004d;
	-fx-background-color: white;
}

.cond_list .list-cell:filled:selected { 
    -fx-background-color:  #80dfff; 
}

.cond_list .list-cell:even { 
	-fx-text-fill: #4d004d;
	-fx-background-color: #e6f9ff;
}

.editor_pane { 
	-fx-background-color: #d0d0e1;	
	
}

.cButton {
	 -fx-background-color:
        linear-gradient(#006600, #8fbc8f),
        radial-gradient(center 50% -40%, radius 200%, #009933 45%, #00b33c 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #FFFFFF;
     -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
   
}

.title_label {
	-fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-font-family: "Helvetica";
}

.sub_title_label {
	-fx-font-size: 18px;
    -fx-text-fill: #006600;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-font-family: "Helvetica";
}

.saveButton {
	 -fx-background-color:
        linear-gradient(#FFFFFF,#f0f0f5),
        radial-gradient(center 50% -40%, radius 200%,#FFFFFF 45%, #f0f0f5 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #e60000;
     -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
   
}

.root {
    -fx-base: lightgray;
    -fx-background: aliceblue;
}

.myObjectListView {
	-fx-min-width: 450;
	-fx-padding: 0 0 10 0;
}

.myFormView {
	-fx-min-width: 550
}

.titleScreen{
	-fx-padding: 10 10 10 10;
	-fx-hgap: 20;
	-fx-vgap: 10;	
	-fx-font-size: 20;
	
}

.defaultTextEntry {
	-fx-padding: 10 10 10 10;
	-fx-hgap: 20;
	-fx-vgap: 10;	
}


.nameTextEntry {
	-fx-max-width: 20
}

.label {
	-fx-text-fill: black
}
































